{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post" class="pure-form pure-form-aligned centred-conteneur formlogin">
    <fieldset>
        <legend>Connectez-vous s'il vous plait</legend>
        {% if error %}
            <div class="warning-msg">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <!--<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>-->

        <div class="pure-control-group">
            <label for="inputLogin">Identifiant</label>
            <input placeholder="login" type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" autocomplete="email" required autofocus>
            <span class="pure-form-message-inline">pseudo / email</span>
        </div>
        <div class="pure-control-group">
            <label for="inputPassword">Mot de passe</label>
            <input placeholder="*****" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
        #}
        <div class="pure-controls">
            <label for="cb-input" class="pure-checkbox">
                <input id="cb-input" type="checkbox" name="remember_me"> se souvenir de moi
            </label>
            <button class="pure-button pure-button-primary" type="submit">
                Connection
            </button>
        </div>
    </fieldset>
</form>
{% endblock %}
