{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}

    <div class="pure-form pure-form-aligned centred-conteneur">
    <fieldset>
        <legend>Profil de '<strong>{{ participant.pseudo }}</strong>'</legend>
            <div class="pure-control-group spacement">
                <label>Nom :</label>
                <label class="displayed">{{ participant.nom }}</label>
            </div>
            <div class="pure-control-group spacement">
                <label>Prénom :</label>
                <label class="displayed">{{ participant.prenom }}</label>
            </div>
            <div class="pure-control-group spacement">
                <label>Téléphone :</label>
                <label class="displayed">{{ participant.telephone }}</label>
            </div>
            <div class="pure-control-group spacement">
                <label>Email :</label>
                <label class="displayed">{{ participant.email }}</label>
            </div>
            <div class="pure-control-group spacement">
                <label>Site :</label>
                <label class="displayed">{{ participant.site.nom }}</label>
            </div>

        <div class="pure-controls ">
            <button class="pure-button button-primary" onClick="window.history.back();">Retour</button>
            {% if participant.id == app.user.id %}
                <a class="pure-button button-primary" href="{{ path('participant_edit', {'id': participant.id}) }}">edit</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="pure-button button-admin" href="{{ path('participant_edit', {'id': participant.id}) }}">edit</a>
                <a class="pure-button button-admin" href="{{ path('participant_index') }}">Back to List</a>
                {{ include('participant/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </fieldset>
    </div>
{% endblock %}
