{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <main class="">
        <div id="date_compte" class="pure-u-1-5 pure-form-aligned pure-form-aligned">
            <div class="pure-control-group mt1">
                <label class="lab">Date du jour </label>
                <label class="displayed">{{ "now"|format_date('long', locale='fr') }}</label>
            </div>
            <div class="pure-control-group mt1">
                <label class="lab">Participant </label>
                <label class="displayed">{{ app.user.username }}</label>
            </div>
        </div>
        <div id="liste">
            <h2>Filtre des sorties</h2>
            <form id="filtre" class="pure-g pure-form" method="post">
                <div id="filtre-option" class="pure-u-2-3">
                    <div class="pure-g">
                        <div class="pure-u-1-2">
                            <div class="pure-g">
                                <label for="choix-site" class="pure-u-1-2 ">Site : </label>
                                <select id="choix-site" class="pure-u-1-2 spacement" name="tri-site">
                                    <option value="0">---------Choisir un site-------</option>
                                    {% for site in sites %}
                                        <option value="{{ site.id }}">{{ site.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="pure-g">
                                <label for="recherche-nom" class="pure-u-1-2">Le nom de la sortie contient : </label>
                                <input id="recherche-nom" type="text" class="pure-u-1-2 spacement" name="tri-texte" placeholder="Rechercher">
                            </div>
                            <div id="recherche-date" class="pure-g">
                                <label for="date-debut" class="pure-u-1-4 label-date-filtre">Entre : </label>
                                <input type="date" id="date-debut" class="pure-u-1-4" name="tri-date-debut">
                                <label for="date-fin" class="pure-u-1-4 label-date-filtre">&nbsp&nbsp et : </label>
                                <input type="date" id="date-fin" class="pure-u-1-4" name="tri-date-fin">
                            </div>
                        </div>
                        <div class="pure-u-1-2 ">

                            <div class="pure-u-1 pure-control-group pure-checkbox">
                                <input class="m5" type="checkbox" id="checkbox-organisateur"
                                       name="tri-checkbox-organisateur"/>
                                <label for="checkbox-organisateur">Sortie(s) dont je suis l'organisateur(trice)</label>
                            </div>
                            <div class="pure-u-1 pure-control-group pure-checkbox">
                                <input class="m5" type="checkbox" id="checkbox-inscrit" name="tri-checkbox-inscrit"/>
                                <label for="checkbox-inscrit">Sortie(s) auxquelles je suis inscrit(e)</label>
                            </div>
                            <div class="pure-u-1 pure-control-group pure-checkbox">
                                <input class="m5" type="checkbox" id="checkbox-non-inscrit"
                                       name="tri-checkbox-non-inscrit"/>
                                <label for="checkbox-non-inscrit">Sortie(s) auxquelles je ne suis pas inscrit(e)</label>
                            </div>
                            <div class="pure-u-1 pure-control-group pure-checkbox">
                                <input class="m5" type="checkbox" id="checkbox-passee" name="tri-checkbox-passee"/>
                                <label class="m10" for="checkbox-passee">Sortie(s) passée(s)</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="filtre-recherche" class="pure-controls pure-u-1-3">
                    <button class="pure-button button-primary" type="submit">Rechercher</button>
                </div>
            </form>


            <div id="tableau-sortie" class="pure-g">
                <div class="pure-u-1 pure-control-group mb1 ml10">
                    <label><strong>Filtrer par :</strong> {{ labelFiltre }}</label>
                </div>
                <table class="pure-table pure-u-1-1 fixed_header" id="home-liste-sortie" style="">
                    <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Fin d'inscription</th>
                        <th>Inscrit/Places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="hometabbody">
                    {% for sortie in sorties %}
                        <tr class="">
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut|date('d/m/Y h:i') }}</td>
                            <!--<td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>-->
                            <td>
                            {% if date() < sortie.dateLimiteInscription %}
                                {# endDate and startDate are strings or DateTime objects #}
                                {% set difference = sortie.dateLimiteInscription.diff(date()) %}
                                {% set leftd = difference.d %}
                                {% set lefth = difference.h %}
                                {% set lefti = difference.i %}
                                {% if leftd != 0 %}
                                    <p class="ok-msg">{{ leftd }} jour(s) et {{ lefth }} h</p>
                                {% else %}
                                    <p class="ok-msg">{{ lefth }} h et {{ lefti }} minute(s)</p>
                                {% endif %}
                            {% else %}
                                <p class="warning-msg">" Hors délai "</p>
                            {% endif %}
                            </td>
                            <td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionMax }}</td>
                            <td>{{ sortie.etat.libelle }}</td>
                            {% set find = 0 %}
                            {% if app.user.getSorties is not null %}
                                {% for sortieUser in app.user.getSorties %}
                                    {% if sortieUser.id == sortie.id %}
                                        {% set find = 1 %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% set find = 0 %}
                            {% endif %}
                            {% if find == 1 %}
                                <td style="text-align: center">X</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            {% if app.user.id != sortie.organisateur.id %}
                                <td class="centeredtab">
                                    <a class="orgalink" href="{{ path('participant_show', {"id" : sortie.organisateur.id}) }}">
                                        {{ sortie.organisateur.pseudo }}
                                        <span>
                                            <img src="/img/person-square.svg" alt=".user">
                                        </span>
                                    </a>
                                </td>
                            {% else %}
                                <td class="centeredtab">
                                    <p class="myevent" href="{{ path('participant_show', {"id" : sortie.organisateur.id}) }}">
                                        "Votre événement"
                                    </p>
                                </td>
                            {% endif %}

                            {% if sortie.etat.id  == 1 %}
                                <td class="centeredtab">
                                    <a class="pure-button button-secondary" href="{{ path('sortie_modifier', {"id" : sortie.id}) }}">
                                        Modifier
                                    </a>
                                    <a class="pure-button button-publish" href="{{ path('sortie_publication', {"id" : sortie.id}) }}">
                                        Publier
                                    </a>
                                </td>
                            {% elseif sortie.etat.id == 2 %}
                                {% if app.user.id == sortie.organisateur.id %}
                                    <td class="centeredtab">
                                        <a class="pure-button button-primary" href="{{ path('sortie_details', {"id" : sortie.id}) }}">
                                            Afficher
                                        </a>
                                        <a class="pure-button button-cancel" href="{{ path('sortie_annuler', {"id" : sortie.id}) }}">
                                            Annuler
                                        </a>
                                    </td>
                                {% else %}
                                    <td class="centeredtab">
                                        <a class="pure-button button-primary" href="{{ path('sortie_details', {"id" : sortie.id}) }}">
                                            Afficher
                                        </a>
                                        {% if find == 1 %}
                                            <a class="pure-button button-secondary" href="{{ path('sortie_inscription', {"id" : sortie.id}) }}">
                                                Se désister
                                            </a>
                                        {% else %}
                                            <a class="pure-button button-secondary" href="{{ path('sortie_inscription', {"id" : sortie.id}) }}">
                                                S'inscrire
                                            </a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% elseif sortie.etat.id == 3 %}
                                <td class="centeredtab">
                                    <a class="pure-button button-primary" href="{{ path('sortie_details', {"id" : sortie.id}) }}">
                                        Afficher
                                    </a>
                                    <a class="pure-button button-secondary" href="{{ path('sortie_inscription', {"id" : sortie.id}) }}">
                                        Se désister
                                    </a>
                                </td>
                            {% elseif sortie.etat.id == 4 or sortie.etat.id == 5 or sortie.etat.id == 6 or sortie.etat.id == 7%}
                                {% set archivee = 0 %}

                                {% for sortieArchivee in sortiesArchivees %}
                                    {% if sortieArchivee.id == sortie.id %}
                                        {% set archivee = 1 %}
                                    {% endif %}
                                {% endfor %}

                                {% if archivee == 0 %}
                                    <td class="centeredtab">
                                        <a class="pure-button button-primary" href="{{ path('sortie_details', {"id" : sortie.id}) }}">
                                            Afficher
                                        </a>
                                    </td>
                                {% else %}
                                    <td>
                                        <p class="pure-button button-warning button-no-button">
                                            Archiver
                                        </p>
                                    </td>
                                {% endif %}
                            {% endif %}

                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pure-control-group ml10 mt1" id="bouton-creer-sortie">
            <a class="pure-button button-primary" href="{{ path('sortie_creer') }}">Créer une sortie</a>
        </div>
    </main>
{% endblock %}
