{% extends 'base.html.twig' %}

{% block title %}Modifier une sortie{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <form method="post" class="pure-form pure-form-aligned"
              style="	position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
    ">
            <fieldset>
                <legend>Modifier une sortie</legend>
                <div class="pure-control-group">
                    {{ form_row(formUpdate.nom) }}
                </div>
                <div class="pure-control-group">
                    {{ form_row(formUpdate.dateHeureDebut) }}
                </div>
                <div class="pure-control-group">
                    {{ form_row(formUpdate.nbInscriptionMax) }}
                </div>
                <div class="pure-control-group">
                    {{ form_row(formUpdate.infosSortie) }}
                </div>
                <div class="pure-control-group">
                    {{ form_row(formUpdate.site) }}
                </div>
                <div class="pure-control-group">
                    {{ form_row(formUpdate.lieu) }}
                </div>

                <div class="pure-control-group">
                    {{ form_row(formUpdate.duree) }}
                </div>
                <div class="pure-control-group">
                    {{ form_row(formUpdate.dateLimiteInscription) }}
                </div>

                <button class="pure-button pure-button-primary">{{ button_label|default('Enregistrer') }}</button>
            </fieldset>
            {{ form_rest(formUpdate) }}
        </form>

    </div>
{% endblock %}
