{% extends 'base.html.twig' %}

{% block title %}Annulation de la sortie{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/annulation.css') }}" rel="stylesheet">{% endblock %}

{% block body %}


    <div class="pure-form pure-form-aligned"
         style="	position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
    ">
        <fieldset>
            <legend>Annuler une sortie</legend>

            <div class="pure-control-group">
                <label>Nom de la sortie </label>
                <input class="displayer" disabled value="{{ sortie.nom }}">
            </div>
            <div class="pure-control-group">
                <label>Date</label>
                <input class="displayer" disabled value="{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}">
            </div>
            <div class="pure-control-group">
                <label>Ville</label>
                <input class="displayer" disabled value="{{ sortie.lieu.ville.nom }}">
            </div>
            <div class="pure-control-group">
                <label>Lieu</label>
                <input class="displayer" disabled value="{{ sortie.lieu.nom }} {{ sortie.lieu.rue }}">
            </div>
            <div class="pure-control-group">
                <label>Motif</label>
                <textarea id="annulation-motif" name="annulation-motif"></textarea>
            </div>

            <form method="post" class="pure-form">
                <div class="pure-controls">
                    <input type="submit" value="Confirmer" class="pure-button button-primary">
                    <button class="pure-button button-primary" onClick="window.history.back();">Retour</button>
                    {% if is_granted('ROLE_ADMIN') %}

                    {% endif %}
                </div>
            </form>
        </fieldset>
    </div>
{% endblock %}
