{% extends 'base.html.twig' %}

{% block title %}Création d'une sortie{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/sortieCreation.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}
    <form method="post" class="pure-form pure-form-aligned"
          style="	position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
    ">
        <fieldset>
            <div class="example-wrapper pure-g">
                <div class="pure-u-1-2">
                    <div class="creation-champs pure-control-group">
                        {{ form_row(formSortie.nom) }}
                    </div>
                    <div class="creation-champs pure-control-group">
                        {{ form_row(formSortie.dateHeureDebut) }}
                    </div>
                    <div class="creation-champs pure-control-group">
                        {{ form_row(formSortie.dateLimiteInscription) }}
                    </div>
                    <div class="creation-champs pure-control-group">
                        {{ form_row(formSortie.duree) }}
                    </div>
                    <div class="creation-champs pure-control-group">
                        {{ form_row(formSortie.nbInscriptionMax) }}
                    </div>
                    <div class="creation-champs pure-control-group">
                        {{ form_row(formSortie.infosSortie) }}
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div>
                        <a href="{{ path('sortie_creer_lieu') }}">
                            <img src="{{ asset('img/plus-circle.svg') }}">
                        </a>
                    </div>
                    <div class="creation-champs pure-control-group" id="select-creation">
                        {{ form_row(formSortie.lieu) }}
                    </div>
                    <div class="creation-champs pure-control-group">
                        <label for="rue-holder">Rue</label>
                        <input class="displayer" type="text" disabled id="rue-holder" value="">
                    </div>
                    <div class="creation-champs pure-control-group">
                        <label for="latitude-holde">Latitude</label>
                        <input class="displayer" type="text"  id="latitude-holder" disabled value="">
                    </div>
                    <div class="creation-champs pure-control-group">
                        <label for="longitude-holder">Longitude</label>
                        <input class="displayer"type="text"  id="longitude-holder" disabled value="">
                    </div>
                    <div class="creation-champs pure-control-group">
                        {{ form_row(formSortie.site) }}
                    </div>
                    {{ form_row(formSortie._token) }}
                </div>

                <div class="creation-champs pure-controls">
                    <button class="pure-button pure-button-primary" type="submit">Ajouter</button>
                </div>
            </div>

        </fieldset>
    </form>
    <input type="hidden" value="{{ lieuxdonnees }}" id="hidden-pas-ouf">
    <script>
        document.getElementById('select-creation').addEventListener("change", () => {
            select = document.getElementById('select-creation').getElementsByTagName("select");
            for(i = 0; i < select.length; i++){
                choix = select[i].value;
            }
            lieux = document.getElementById('hidden-pas-ouf').value;
            lieuxObj = JSON.parse(lieux);
            trouver = false;
            for (i = 0; i < lieuxObj.length; i++) {
                if (lieuxObj[i].id == choix) {
                    trouver = lieuxObj[i];
                }
            }
            if (trouver) {
                document.getElementById("rue-holder").value = trouver.rue;
                document.getElementById("latitude-holder").value = trouver.latitude;
                document.getElementById("longitude-holder").value = trouver.longitude;
            }
        });
    </script>
{% endblock %}
