{% extends 'base.html.twig' %}

{% block title %}Modifier une sortie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/modification.css') }}.css">
{% endblock %}

{% block body %}

        <form method="post" class="pure-form pure-form-aligned"
              style="	position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
    ">
            <fieldset class="pure-g">
                <div class="pure-g">
                    <div class="pure-u-1-2">
                        <div class="creation-champs pure-control-group">
                            {{ form_row(formUpdate.nom, { 'label': 'Nom de la sortie' }) }}
                        </div>
                        <div class="creation-champs pure-control-group">
                            {{ form_row(formUpdate.dateHeureDebut) }}
                        </div>
                        <div class="creation-champs pure-control-group">
                            {{ form_row(formUpdate.duree) }}
                        </div>
                        <div class="creation-champs pure-control-group">
                            {{ form_row(formUpdate.nbInscriptionMax) }}
                        </div>
                        <div class="creation-champs pure-control-group">
                            {{ form_row(formUpdate.infosSortie) }}
                        </div>
                    </div>
                    <div class="pure-u-1-2">
                        <div class="creation-champs pure-control-group">
                            {{ form_row(formUpdate.dateLimiteInscription) }}
                        </div>
                        <div class="creation-champs pure-control-group">
                            {{ form_row(formUpdate.lieu.nom,  { 'label': 'Lieu' }) }}
                        </div>
                        <div class="creation-champs pure-control-group">
                            {{ form_row(formUpdate.lieu.rue) }}
                        </div>
                        <div class="creation-champs pure-control-group">
                            {{ form_row(formUpdate.lieu.latitude) }}
                        </div>
                        <div class="creation-champs pure-control-group">
                            {{ form_row(formUpdate.lieu.longitude) }}
                        </div>
                        <div class="creation-champs pure-control-group">
                            {{ form_row(formUpdate.lieu.ville) }}
                        </div>
                        <div class="creation-champs pure-control-group">
                            {{ form_row(formUpdate.site) }}
                        </div>
                        {{ form_rest(formUpdate) }}
                    </div>
                </div>

            </fieldset>
            <div class="pure-g">
                <div class="pure-u-sm-1-6" >
                    <button class="pure-button pure-button-primary" type="submit">Modifier</button>
                </div>
                <div class="pure-u-sm-2-6">
                    <a href="{{ path('sortie_publication', {"id" : sortie.id}) }}"><button class="pure-button pure-button-primary" type="button">Publier la sortie</button></a>
                </div>
                <div class="pure-u-sm-2-6">
                    <a href="{{ path('sortie_suppression', {"id" : sortie.id}) }}"><button class="pure-button pure-button-primary" type="button">Supprimer la sortie</button></a>
                </div>
                <div class="pure-u-sm-1-6">
                    <a href="{{ path('home') }}"><button class="pure-button pure-button-primary" type="button">Annuler</button></a>
                </div>
            </div>
        </form>
{% endblock %}
