{% extends 'base.html.twig' %}

{% block title %}Création d'une sortie{% endblock %}

{% block stylesheets %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block body %}
    <form method="post" class="pure-form pure-form-aligned centred-conteneur">
        <fieldset>
            <div class="example-wrapper pure-g">
                <div class="pure-u-1-2">
                    <div class="creation-champs pure-control-group">
                        {{ form_row(formSortie.nom) }}
                    </div>

                    <div class='creation-champs pure-control-group'>
                        {{ form_label(formSortie.dateHeureDebut) }}
                        <div class="creation-champs pure-control-group">
                            <div class='input-group' id='datetimepicker1'>
                                {{ form_widget(formSortie.dateHeureDebut) }}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class='creation-champs pure-control-group'>
                        {{ form_label(formSortie.dateLimiteInscription) }}
                        <div class="creation-champs pure-control-group">
                            <div class='input-group date' id='datetimepicker2'>
                                {{ form_widget(formSortie.dateLimiteInscription) }}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="creation-champs pure-control-group">
                        {{ form_row(formSortie.duree, { 'attr' : { 'min' : '15' , 'value' : '15'}}) }}
                    </div>
                    <div class="creation-champs pure-control-group">
                        {{ form_row(formSortie.nbInscriptionMax) }}
                    </div>
                    <div class="creation-champs pure-control-group">
                        {{ form_row(formSortie.infosSortie) }}
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div>
                        <a href="{{ path('sortie_creer_lieu') }}">
                            <img src="{{ asset('img/plus-circle.svg') }}" alt="icon More">
                        </a>
                    </div>
                    <div class="creation-champs pure-control-group" id="select-creation">
                        {{ form_row(formSortie.lieu) }}
                    </div>

                    <legend></legend>

                        <div class="creation-champs pure-control-group">
                            <label class="labeldisplay" for="rue-holder">Rue</label>
                            <label class="displayed labeldisplay" id="rue-holder"></label>
                        </div>
                        <div class="creation-champs pure-control-group">
                            <label class="labeldisplay" for="latitude-holde">Latitude</label>
                            <label class="displayed labeldisplay" id="latitude-holder"></label>
                        </div>
                        <div class="creation-champs pure-control-group">
                            <label class="labeldisplay" for="longitude-holder">Longitude</label>
                            <label class="displayed labeldisplay" id="longitude-holder"></label>
                        </div>

                    <legend></legend>

                    <div class="creation-champs pure-control-group">
                        {{ form_row(formSortie.site) }}
                    </div>
                    {{ form_row(formSortie._token) }}
                </div>

                <div class="creation-champs pure-controls">
                    <button class="pure-button button-primary" type="submit">Ajouter</button>
                </div>
            </div>

        </fieldset>
    </form>
    <input type="hidden" value="{{ lieuxdonnees }}" id="hidden">

    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: "YYYY-MM-DD hh:mm a",
            });
            $('#datetimepicker2').datetimepicker({
                format: "YYYY-MM-DD hh:mm a",
            });
        });
    </script>


    <script>
        window.onload = function() {
            changementInfoLieu();
        };
        document.getElementById('select-creation').addEventListener("change", changementInfoLieu);

        function changementInfoLieu(){
            select = document.getElementById('select-creation').getElementsByTagName("select");
            for(i = 0; i < select.length; i++){
                choix = select[i].value;
            }
            lieux = document.getElementById('hidden').value;
            lieuxObj = JSON.parse(lieux);
            trouver = false;
            for (i = 0; i < lieuxObj.length; i++) {
                if (lieuxObj[i].id == choix) {
                    trouver = lieuxObj[i];
                }
            }
            if (trouver) {
                document.getElementById("rue-holder").innerText = trouver.rue;
                document.getElementById("latitude-holder").innerText = trouver.latitude;
                document.getElementById("longitude-holder").innerText = trouver.longitude;
            }
        }
    </script>
{% endblock %}
