{% extends 'base.html.twig' %}

{% block title %}Annulation de la sortie{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/annulation.css') }}" rel="stylesheet">{% endblock %}

{% block body %}
    <div class="pure-form pure-form-aligned centred-conteneur">
        <fieldset>
            <legend>Annuler une sortie</legend>

            <div class="pure-control-group spacement mt1">
                <label>Nom de la sortie </label>
                <label class="displayed">{{ sortie.nom }}</label>
            </div>
            <div class="pure-control-group spacement">
                <label>Date</label>
                <label class="displayed">{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</label>
            </div>
            <div class="pure-control-group spacement">
                <label>Ville</label>
                <label class="displayed">{{ sortie.lieu.ville.nom }}</label>
            </div>
            <div class="pure-control-group spacement">
                <label>Lieu</label>
                <label class="displayed">{{ sortie.lieu.nom }} {{ sortie.lieu.rue }}</label>
            </div>
            <form method="post" class="pure-form">
                <div class="pure-control-group">
                    <label>Motif</label>
                    <textarea id="annulation-motif" name="annulation-motif"></textarea>
                </div>
                <div class="pure-controls">
                    <input type="submit" value="Confirmer" class="pure-button button-primary">
                    <button class="pure-button button-cancel" onClick="window.history.back();">Retour</button>
                    {% if is_granted('ROLE_ADMIN') %}

                    {% endif %}
                </div>
            </form>
        </fieldset>
    </div>
{% endblock %}
