{% extends 'base.html.twig' %}

{% block title %}Création d'une sortie{% endblock %}

{% block stylesheets %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block body %}
    <form method="post" class="pure-form pure-form-aligned centred-conteneur">
        <fieldset>
            <div class="example-wrapper pure-g">
                <div class="pure-u-1-2">
                    <div class="creation-champs pure-control-group">
                        {{ form_row(formSortie.nom) }}
                    </div>
                    <div class='creation-champs pure-control-group'>
                        {{ form_label(formSortie.dateHeureDebut) }}
                        <div class="creation-champs pure-control-group">
                            <div class='input-group date' id='datetimepicker1'>
                                {{ form_widget(formSortie.dateHeureDebut) }}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class='creation-champs pure-control-group'>
                        {{ form_label(formSortie.dateLimiteInscription) }}
                        <div class="creation-champs pure-control-group">
                            <div class='input-group' id='datetimepicker2'>
                                {{ form_widget(formSortie.dateLimiteInscription) }}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="creation-champs pure-control-group">
                        {{ form_row(formSortie.duree, { 'attr' : { 'min' : '15' , 'value' : '15'}}) }}
                    </div>
                    <div class="creation-champs pure-control-group">
                        {{ form_row(formSortie.nbInscriptionMax) }}
                    </div>
                    <div class="creation-champs pure-control-group">
                        {{ form_row(formSortie.infosSortie) }}
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div>
                        <a href="{{ path('sortie_creer') }}">
                            <img src="{{ asset('img/dash-circle.svg') }}">
                        </a>
                    </div>
                    <fieldset>
                        <div class="creation-champs pure-control-group">
                            {{ form_row(formSortie.lieu.nom) }}
                        </div>
                        <div class="creation-champs pure-control-group">
                            {{ form_row(formSortie.lieu.rue) }}
                        </div>
                        <div class="creation-champs pure-control-group">
                            {{ form_row(formSortie.lieu.latitude) }}
                        </div>
                        <div class="creation-champs pure-control-group">
                            {{ form_row(formSortie.lieu.longitude) }}
                        </div>
                        <div class="creation-champs pure-control-group">
                            {{ form_row(formSortie.lieu.ville) }}
                        </div>
                    </fieldset>
                    <div class="creation-champs pure-control-group">
                        {{ form_row(formSortie.site) }}
                    </div>
                    {{ form_row(formSortie._token) }}
                </div>

                <div class="creation-champs pure-controls">
                    <button class="pure-button button-primary" type="submit">Ajouter</button>
                </div>
            </div>

        </fieldset>
    </form>




    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: "YYYY-MM-DD hh:mm:ss",
            });
            $('#datetimepicker2').datetimepicker({
                format: "YYYY-MM-DD hh:mm:ss",
            });
        });
    </script>

{% endblock %}
